{% extends 'layout.html' %}

{% block content %}
    <h1>Inserimento Utente</h1>

    <form action="/aggiungi_utente" method="post">
        <label for="mail">Email utente:</label>
        <input type="text" id="mail" name="mail" required>
        
        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic" required>
        
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="cognome">Cognome:</label>
        <input type="text" id="cognome" name="cognome" required>

        <label for="telefono">Telefono:</label>
        <input type="text" id="telefono" name="telefono" required>

        <button type="submit">Aggiungi Utente</button>
    </form>
    <h2>---------------------------------------------</h2>
    
    <h1>Inserimento Vincoli</h1>
    <form action="/aggiungi_vincoli" method="post">
        <table>
            <tr>
                <td><label for="utente">Email utente:</label></td>
                <td><input type="text" id="utente" name="utente" required></td>
            </tr>
            <tr>
                <td><label for="topic">Topic:</label></td>
                <td><input type="text" id="topic" name="topic" required></td>
            </tr>
            <tr>
                <td><label for="prezzo">Prezzo:</label></td>
                <td><input type="text" id="prezzo" name="prezzo" required></td>
            </tr>
            <tr>
                <td><label for="variazione_percentuale">Variazione Percentuale:</label></td>
                <td><input type="text" id="variazione_percentuale" name="variazione_percentuale" required></td>
            </tr>
            <tr>
                <td><label for="max_24h">Max 24h:</label></td>
                <td><input type="text" id="max_24h" name="max_24h" required></td>
            </tr>
            <tr>
                <td><label for="min_24h">Min 24h:</label></td>
                <td><input type="text" id="min_24h" name="min_24h" required></td>
            </tr>
        </table>

        <input type="submit" value="Aggiungi Vincoli">
    </form>
{% endblock %}
